<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{config.title}}</title>
    <meta name="description" content="{{config.description}}">
    <meta name="author" content="{{config.author}}">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="container">
        <h1 class="text-3xl font-bold underline">
            Hello world!
        </h1>
        <nav class="nav">
            <div class="nav-left">
                <h1><a class="brand" href="#">{{config.title}}</a></h1>
            </div>
        </nav>

        <form action="search.html" method="get" class="search">
            <input type="text" name="q" placeholder="Search for recipes">
            <button type="submit">Search</button>
        </form>
        <ul>
            {{#each recipes as |recipe|}}
            <li><a href="{{recipe.id}}.html">{{recipe.name}}</a></li>
            {{/each}}
        </ul>


        <footer>
            <span style="margin-right: auto;">Made with ❤ and <a
                    href="https://github.com/LudeeD/prandium">prandium</a></span>
            <span><a href="{{config.author_url}}">{{config.author}}</a>, {{config.date}}</span>
        </footer>
        <hr>
    </div>
</body>

<style>
    :root {
        --bg-color: #ffffff;
        --bg-secondary-color: #f3f3f6;
        --color-primary: #14854F;
        --color-lightGrey: #d2d6dd;
        --color-grey: #747681;
        --color-darkGrey: #3f4144;
        --color-error: #d43939;
        --color-success: #28bd14;
        --grid-maxWidth: 120rem;
        --grid-gutter: 2rem;
        --font-size: 1.6rem;
        --font-color: black;
        --font-family-sans: sans-serif;
        --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
    }

    .container {
        max-width: 720px;
    }

    .search {
        display: flex;
        align-items: center;
    }
</style>

</html>