<!doctype html>


<html lang="en" class="flex flex-col">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{config.title}}</title>
    <meta name="description" content="{{config.description}}">
    <meta name="author" content="{{config.author}}">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎯</text></svg>">
</head>

<body class="min-h-screen flex flex-col flex-1">
    <header class="bg-green-500 text-white p-5">
        <div class="container mx-auto flex justify-between items-center">
            <h1 class="text-xl font-bold">{{config.title}}</h1>
            <nav>
                <ul class="flex space-x-4">
                    <li><a href="#" class="hover:text-green-200">Profile</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <main class="flex-1 container mx-auto p-4 text-lg">
        <article>
            <h2 class="text-4xl font-bold text-green-800 my-4">{{recipe.name}}</h2> <!-- Increased title size -->
            <div class="text-center my-6 min-h-36">
                <img src="https://via.placeholder.com/144" alt="Recipe Image" class="inline-block rounded-lg">
            </div>
            <div>
                <details open class="mb-4">
                    <summary class="text-2xl font-semibold cursor-pointer">{{config.translations.ingredients}}</summary>
                    <!-- Increased summary size -->
                    <ul class="list-disc pl-5 mt-2">
                        {{#each recipe.ingredients as |ingredient|}}
                        <li>{{ingredient.amount}} {{ingredient.name}}</li>
                        {{/each}}
                    </ul>
                </details>
                <details>
                    <summary class="text-2xl font-semibold cursor-pointer">{{config.translations.instructions}}
                    </summary> <!-- Increased summary size -->
                    <ol class="list-decimal pl-5 mt-2">
                        {{#each recipe.instructions}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ol>
                </details>
            </div>
        </article>
    </main>

    <footer class="mt-4">
        <hr>
        <div class="px-2 py-2 container mx-auto flex flex-row justify-between items-center">
            <p> Made with ❤ and <a href="https://github.com/LudeeD/prandium" class="underline">prandium</a></p>
            <span>{{config.author}}, {{config.date}}</span>
        </div>
    </footer>
</body>

<style>
    :root {
        --bg-color: #ffffff;
        --bg-secondary-color: #f3f3f6;
        --color-primary: #14854F;
        --color-lightGrey: #d2d6dd;
        --color-grey: #747681;
        --color-darkGrey: #3f4144;
        --color-error: #d43939;
        --color-success: #28bd14;
        --grid-maxWidth: 120rem;
        --grid-gutter: 2rem;
        --font-size: 1.6rem;
        --font-color: black;
        --font-family-sans: sans-serif;
        --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
    }

    .container {
        max-width: 720px;
    }

    .search {
        display: flex;
        align-items: center;
    }
</style>

</html>